$bg: #1c2942f0;
$bg-panel: #fff;
$color-headings: #0b162c;
$color-side: #3b556d;
$color-text: #5fc2ba;
$color-btn: #045762;
$color-titre: #676767;
$color-border: #045762;
$color-avatar: #ea97ad;
$color-titre-avatar: #344b61;
$color-btn-popup-non: #ea97ad;
$color-btn-popup-oui: #045762;
$color-notif: #ea97ad;
$left: 10%;
$bg-login: #045762;
$bg-gauche-login: #fdedea;
$btn-login: #fdedea;
$color-login: #ea97ad;
